CityIndex/examples/SilverlightApplication3/SilverlightApplication3/Service References/Services/ModelManagerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SilverlightApplication3.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SilverlightApplication3.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfModelManagerService.NewsHeadline">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelManagerService.NewsHeadline" nillable="true" type="tns:ModelManagerService.NewsHeadline" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelManagerService.NewsHeadline" nillable="true" type="tns:ArrayOfModelManagerService.NewsHeadline" />
  <xs:complexType name="ModelManagerService.NewsHeadline">
    <xs:sequence>
      <xs:element minOccurs="0" name="PublishDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StoryHeadLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoryID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelManagerService.NewsHeadline" nillable="true" type="tns:ModelManagerService.NewsHeadline" />
</xs:schema>